<div ng-app="monApp" ng-controller="tabCTRL">
		<a ng-href="#!tabordAll"><img class="headerlogo"
		ng-src="{{logohead}}" /></a></div>
		
	


<nav class="navbar navbar-light" style="background-color: #DD8D94 ;">

 <ul class="nav nav-tabs">
	<li class="nav-item"><a class="nav-link" href="#!findAll">Classe Standard</a>
	</li>
	<li class="nav-item"><a class="nav-link" href="#!ajoutCS">Ajouter</a>
	</li>
	<li class="nav-item"><a class="nav-link disabled"
		href="#!CSmodif">Modifier</a></li>
<li class="nav-item"><a class="nav-link disabled"
		href="#!deleteCS">supprimer</a></li>




	</ul>

</nav>
<h1 style="text-align: center ; ">Ajouter une classe Standard</h1>
<form class="form-horizontal">

  <div class="form-group" style="position:center">
       <label for="type" >Type de bien </label>
       <select class="selectpicker" data-width="fit" name="type" id="type" ng-model="classeStandard.type">
           <option value="studio">Studio</option>
           <option value="maison">Maison</option>
           <option value="appartement">Appartement</option>
           <option value="entrepot">Entrepot</option>
       </select>


       <label for="modeO">Mode d'offre </label>
       <select class="selectpicker" data-width="auto" name="modeO" id="modeO" ng-model="classeStandard.modeO">
           <option value="vente">Vente</option>
           <option value="location">Location</option>
       </select>
       </div>

  
  <div class="form-group">
    <label for="idPrixMax" class="col-sm-2 control-label">Prix Maximum</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idPrixMax" placeholder="Prix Max" ng-model="classeStandard.prixMax">
    </div>
  </div>
  
    <div class="form-group">
    <label for="idSupMin" class="col-sm-2 control-label">Superficie Minimale</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idSupMin" placeholder="supMin" ng-model="classeStandard.supMin">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" ng-submit="ajouterCS()">Ajouter</button>
    </div>
  </div>
</form>