
	<div ng-app="monApp" ng-controller="tabCTRL">
		<a ng-href="#!tabordAll"><img class="headerlogo"
		ng-src="{{logohead}}" /></a></div>
	

<nav class="navbar navbar-light" style="background-color: #A7CDDC ;">
 <ul class="nav nav-tabs">
	<li class="nav-item"><a class="nav-link" href="#!consAll">Conseiller</a>
	</li>
	<li class="nav-item"><a class="nav-link" href="#!add">Ajouter</a>
	</li>
	<li class="nav-item"><a class="nav-link disabled"
		href="#!update">Modifier</a></li>

	<li class="nav-item"><a class="nav-link disabled"
		href="#!delete">Classe Standard</a></li>

	<li class="nav-item"><a class="nav-link disabled"
		href="#!find">Rechercher</a></li>
	</ul>

</nav>

<form class="form-horizontal">
  <div class="form-group">
    <label for="id" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idDel" placeholder="ID" ng-model="idDel">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button  type="button" class="btn btn-primary" ng-click="deleteID()">Supprimer</button>
    </div>
  </div>
</form>



<h1 style="color:coral" ng-show="indice">{{message}}</h1>