
	<div ng-app="monApp" ng-controller="tabCTRL">
		<a ng-href="#!tabordAll"><img class="headerlogo"
		ng-src="{{logohead}}" /></a></div>

<nav class="navbar navbar-light" style="background-color: #A7CDDC ;">

 <ul class="nav nav-tabs">
	<li class="nav-item"><a class="nav-link" href="#!visiteFindAll">Visite</a>
	</li>
	<li class="nav-item"><a class="nav-link" href="#!visiteAdd">Ajouter</a>
	</li>
	<li class="nav-item"><a class="nav-link disabled"
		href="#!visiteUpdate">Modifier</a></li>

	<li class="nav-item"><a class="nav-link disabled"
		href="#!visiteDelete">Supprimer</a></li>

	<li class="nav-item"><a class="nav-link disabled"
		href="#!visiteGetById">Rechercher</a></li>
	</ul>

</nav>
<h1 style="text-align: center ; ">Formulaire de suppression</h1>


<form class="form-horizontal">
  <div class="form-group">
    <label for="id_vID" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="id_vID" placeholder="ID" ng-model="idDel">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" ng-click="supprimerVisite()">supprimer</button>
    </div>
  </div>
</form>